<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ base :: basehead(~{::title}) }">
    <title th:text="${nota.titulo}"></title>
</head>
<body th:replace="~{ base :: basebody(~{::main}) }">
    <main class="container-fluid">
        <h1>Tienes una nota:</h1>
        <h2 th:text="${nota.titulo}"></h2>

        <form action="" method="post">
            <button class="btn btn-primary" type="submit">Visualizar Nota</button>
        </form>
    </main>
</body>
</html>